autom4te.cache/
aminclude.am
aclocal.m4
config.log
config.status
configure
install-sh
Makefile.in
Makefile.gnuweb
Makefile
missing
config.h
*.tgz
*.tar
*.*~
conf2lib
stamp-h1
config.h.in
plat-*/
*.yc.css
*.yc.js
